<h2>Passwort ändern</h2>

<form action="/change_pw" method="POST">
    <input class="textf" type="password" name="pw_old" id="pw-old" placeholder="Altes Passwort"><br>
    <input class="textf" type="password" name="pw_new" id="pw-new" placeholder="Neues Passwort"><br>
    <input class="textf" type="password" name="pw_rep" id="pw-rep" placeholder="Passwort wiederholen"><br>
    <input type="checkbox" name="cleartext" id="cleartext" onchange="show_pw('pw-old'); show_pw('pw-new'); show_pw('pw-rep');">
    <label for="cleartext">
        <span class="cleartext">Passwort anzeigen</span>
    </label>
    <div class="error-msg">
        <p><%= typeof err_msg != 'undefined' ? err_msg : '' %></p>
    </div>
    <input class="btn" type="submit" name="" id="">
</form>
<br>
<br>
<a href="/profile">Zurück</a>