<h2>Profil löschen</h2>
<br>
<form action="/delete_user" method="POST">
    <input type="password" name="password" id="password" placeholder="Passwort"><br>
    <label for="cleartext"><span class="cleartext">Passwort anzeigen</span>
        <input type="checkbox" name="cleartext" id="cleartext" onchange="show_pw('password'); ">
    </label><br>
    <div class="error-msg">
        <p><%= typeof err_msg != 'undefined' ? err_msg : '' %></p>
    </div>
    <input type="submit" name="" id="">
</form>
<br>
<br>
<a href="/profile">Zurück</a>