<h2><span style="font-weight: 300;"> Profil von </span><%=username%></h2>
<br>
<ul>
    <li><a href="/change_pw">Passwort ändern</a></li>
    <br>
    <li><a href="/delete_user">Profil löschen</a></li>
</ul>
<br>
<%= typeof scs_msg !='undefined' ? scs_msg : '' %>