<nav>
    <a href="/home">Home</a>
    |
    <a href="/plantoverview">PLANTage</a>
    |
    <a href="/question">Fragen</a>
    |
    <a href="/profile">Profil</a>
    |
    <a href="/logout">Ausloggen</a>
</nav>