<nav>
    <a href="/home">Home</a>
    |
    <a href="/plant_overview">PLANTage</a>
    |
    <a href="/question">Fragen</a>
    |
    <a href="/login">Einloggen</a>
    |
    <a href="/register">Registrieren</a>
</nav>