<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frage stellen</title>
    <link rel="stylesheet" href="css/style-logreg.css">
</head>
<body>
    
    <div class="nav">

    </div>

    <main>

        <div class="container">
            <div class="container-main">
                <form action="" method="POST">
                    <input type="text" name="title" placeholder="Thema deiner Frage">
                    <br>
                    <textarea name="txt" id="txt" cols="30" rows="10" placeholder="Stelle deine Frage hier..."></textarea>
                    <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </main>


</body>
</html>