<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frage stellen</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
    <link rel="stylesheet" href="css/style-logreg.css">

</head>
<body>


    <main>
        <div class="container">

            <div class="headline">

            </div>
        
            <div class="container-main">

                <h3>Bearbeite deine Frage ...</h3>
                <form action="/question/<%=typeof context != 'undefined' ? context.id : ''%>/edit" method="POST" name="question" id="question" enctype="multipart/form-data">
                    <input type="text" name="title" class="textf" value="<%= typeof context != 'undefined' ? context.title : '' %>">
                    <br>
                    <textarea name="txt" id="txt" cols="50" rows="15"><%=typeof context != 'undefined' ? context.txt : ''%></textarea>
                    <br>
                    <input type="submit" class="btn">
                </form>
            </div>

            <div class="container-head">
                <h4>oder dein Bild </h4>
                <input type="file" name="img" id="" accept="image/jpeg" form="question" >
            </div>

        </div>

    </main>


</body>
</html>