<!DOCTYPE html>
<html>
    <head>
        <title>Plant B</title>
        <link rel="stylesheet" href="/css/style-home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
    </head>
    <body>
        <nav>
            <% if(typeof username == 'undefined'){ %>
                <a href="/login">Login</a>
                |
                <a href="/register">Registrieren</a>
            <% }else{ %>
                <a href="/profile">Profil von <%=username%></a>
                |
                <a href="/logout">Logout</a>
            <% }; %>
        </nav>
        
        <header>
            <div class="container-head">
                <h1>Plant B</h1>
            </div>
            <div class="container-subhead">
                <p>KEEPING PLANTS ALIVE</p>
            </div>
        </header>

        <main>

            <div class="container-main">
                <h3>Herzlich Willkommen bei Plant B</h3>
                <br>
                <br>
                <p>PlantB ist ein Forum für all diejenigen, die Hilfe brauchen ihre Pflanzen am Leben zu erhalten, sich einfach nur informieren oder anderen PLANTies Tipps geben möchten.                 
                     </p>
                <p>Hier findest Du Profile zu verschiedenen Zimmerpflanzen, die Auskunft geben über den perfekten Standort, wie oft Deine Pflanze gegossen werden soll und was sonst noch zu beachten ist.
                </p>
                <p>
                    Ansonsten kannst Du auch Kommentare zu jeder Pflanze mit hilfreichen Tipps oder Fragen einsehen, die auch Dir vielleicht weiterhelfen können.
                </p>  
                <br>
                <p>
                    
                    Wenn du interessiert bist, kannst Du dich kostenlos registrieren und durch das Forum stöbern. Vielleicht kannst ja auch Du jemandem helfen oder Dich über deine Zimmerpflanze informieren…

                </p>  
                <br>
                <a href="/register"><u>Hier kostenlos registieren</u></a>
              
            </div>
        </main>  
    </body>
</html>