<!DOCTYPE html>
<html lang="en">

<head>
    <title>PlantSheet erstellen
    </title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
    <link rel="stylesheet" href="/css/style2.css">
    <style>
        input.textf {
            width: 90%;
       
        }


    </style>
</head>

<body>
    <%- include("partials/navbar_loggedin") %>

    <main>
        <div class="detail">

            <div class="headline">
                <h2>Erstelle ein PLANTsheet</h2>
            </div>

            <div class="backlink">
                <a href="/plant_overview">Zurück</a>
            </div>


            <div class="detailplant">

                <div class="left">
                    <div class="addpic">
                        <div class="plus"> +  </div>
                        <p>Füge ein Bild hinzu</p>
                        <input style="border: none" type="file" name="" id="" accept="image/jpg" form="post">
                    </div>
                </div>

                <table>
                    <tr>
                        <td>Deutscher Name</td>
                        <td>
                    <input type="text" name="deutscherName" placeholder="Name der Pflanze" class="textf" form="post">
                </td>
                    <tr>
                        <td class="lat">lat. Name</td>
                        <td class="lat">
                            <input type="text" name="title" placeholder="lateinischer Name der Pflanze" class="textf" form="post">
                        </td>
                    <tr>
                        <td>Wuchshöhe </td>
                        <td class="td2">
                            <input type="text" name="wuchshoehe" placeholder="Was groß wird diese Pflanze i.d.R.?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Wuchstyp </td>
                        <td>
                            <input type="text" name="wuchstyp"
                                placeholder="Beispiele für Wuchstypen: Palmengewächs, Aronstabgewächs"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Standort </td>
                        <td>
                            <input type="text" name="standort" placeholder="Wo sollte diese Pflanze stehen?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Gießen </td>
                        <td>
                            <input type="text" name="giessen" placeholder="Wie oft und wieviel sollte man gießen?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Schwierigkeit </td>
                        <td>
                            <select name="schwierigkeit" id="schwierigkeit" form="post">
                                <option value="easy">easy</option>
                                <option value="advanced">advanced</option>
                                <option value="hardcore">hardcore</option>
                            </select>
                        </td>
                        <tr>
                            <td>Temperatur </td>
                            <td>
                                <input type="text" name="temperatur" placeholder="Welche Temperatur bevorzugt diese Pflanze?" 
                                class="textf" form="post">
                            </td>

                    <tr>
                        <td>Erde </td>
                        <td>
                            <input type="text" name="erde" placeholder="Welche Erde sollte verwendet werden?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Umtopfen </td>
                        <td>
                            <input type="text" name="umtopfen" placeholder="Wie oft sollte man umtopfen?"
                                class="textf" form="post">
                        </td>

                    <tr>
                        <td>Düngen </td>
                        <td>
                            <input type="text" name="duengen" placeholder="Wie oft und womit sollte man düngen?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Blattfarbe </td>
                        <td>
                            <input type="text" name="blattfarbe" placeholder="Welche Blattfarbe hat die Pflanze?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Blattform </td>
                        <td>
                            <input type="text" name="blattform" placeholder="Welche Blattform hat die Pflanze?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Blütezeit </td>
                        <td>
                            <input type="text" name="bluetezeit" placeholder="Wann ist die Blütezeit?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Blütenfarbe </td>
                        <td>
                            <input type="text" name="bluetenfarbe" placeholder="Welche Blütenfarbe hat die Pflanze?"
                                class="textf" form="post">
                        </td>
                    <tr>
                        <td>Kalkverträglichkeit </td>
                        <td>
                            <select name="kalkvertraeglichkeit" id="kalkvertraeglichkeit" form="post">
                                <option value="kalkresistent">kalkresistent</option>
                                <option value="kalktempfindlich">kalktempfindlich</option>
                            </select>
                        </td>
                        
                </table>

            </div>
            <div  class="send">
                <input class="btn" type="submit" form="post">
            </div>
        </div>
    </main>
    <form action="/plantcreate" method="POST" name="post" id="post">
    </form>
</body>
</html>