<!DOCTYPE html>
<html>
    <head>
        <title>Plant B - Post</title>
        <link rel="stylesheet" href="/css/style-logreg.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
    </head>
</html>