<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant B</title>
    <link rel="stylesheet" href="/css/style-logreg.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tal5phu.css">
</head>

<body>
    <%- include('partials/navbar_loggedin') %>
    <main>
        <div class="container">
            <div class="container-head">
                <h1>Plant B</h1>
                <img class="logo-login" src="/images/leavesbg.jpg" alt="">
            </div>

            <div class="container-main">
                <% if (task=='overview' ) { %>
                    <%- include('partials/profile/overview'); %>
                <% } else if (task=='change_pw' ) { %>
                    <%- include('partials/profile/change_pw'); %>
                <% } else if (task=='delete_user' ) { %>
                    <%- include('partials/profile/delete_user'); %>
                <% } %>
            </div>
        </div>
    </main>
    <script src="/scripts/register.js"></script>
</body>

</html>